body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

.box {
  font: 10px "Helvetica Neue", 10px Helvetica, 10px Arial, 10px sans-serif;
}

.box line,
.box rect,
.box circle {
  fill: #fff;
  stroke: #000;
  stroke-width: 1.5px;
}

.box .center {
  stroke-dasharray: 3,3;
}

.box .outlier {
  fill: none;
  stroke: #ccc;
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
}

hr {
  margin-left: 50px;
  margin-right: 50px;
}

h2 {
  margin: 0px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 0px;
}

#charts {
  padding: 10px 0;
}

.chart {
  display: inline-block;
  height: 121px;
  margin-bottom: 20px;
}

.reset {
  padding-left: 0.5em;
  font-size: smaller;
  color: #ccc;
}

.hide {
  padding-left: 0em;
  font-size: smaller;
  color: #ccc;
}

.background.bar {
  fill: #ccc;
}

.foreground.bar {
  fill: steelblue;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

th {
    text-align: left;
}

.tablename {
    width: 10em;
}

p {
    margin-left: 75px;
    margin-right: 75px;
}

.legend-text {
    font: 10pt Helvetica Neue, sans-serif;
}
